<div class="row">
    <!-- 1st div starting -->
    <div class="col-md-12">
      <div class="panel  panel-transparent animated zoomIn " zoom-in="" >
        <div class="panel-body">
            <div class="col-md-4">
                <img src="../../assets/MunnarT/Festivals n events/boat races/Aranmula Boat Race/Aranmula Boat Race.jpg" style="width:100%;" ><br><br>
            </div>
          <div class="col-md-8">
            <legend>Aranmula Boat Race</legend><br>
            <p>The Aranmula Uthrattathi Vallamkali or Aranmula Boat Race is the among the most ancient and revered boat races in the State.  Held on the day of the Uthrittathi star in the month of Chingam (usually between 15 August and 20 September as per the Malayalam calendar), it is well known for its grandeur and unique history.

                Aranmula lies in the banks of the river Pampa in the Pathanamthitta district of Kerala. Legend says that a devout Brahmin promised to provide all the requirements for the Thiruvona Sadya (feast held during Thiruvonam). </p>
          </div>
         
        </div>
      </div>
    </div>
    <!-- 1st div ended -->
      <!-- 2st div starting -->
      <div class="col-md-12">
          <div class="panel  panel-transparent animated zoomIn " zoom-in="" >
            <div class="panel-body">
               
  
              <div class="col-md-8">
                <legend>Rajiv Gandhi Boat Race</legend><br>
                <p>Rajiv Gandhi Boat Race at Pulinkunnu, Alappuzha. The event is a memorial
                   to the former prime minister. Festival highlights: Colourful water procession Water floats Boat races.</p>
                    
              </div>
              <div class="col-md-4">
                  <img src="../../assets/MunnarT/Festivals n events/boat races/Rajivgandhi boat_race/Rajivgandhi boat_race.jpg" style="width:100%;" ><br><br>
                </div>
            </div>
          </div>
        </div>
        <!-- 2st div ended -->
</div>  