#panelBody{
  padding: 0%;
}
#destTitle{
  font-size: 20pt;
  color:lightyellow
  
}
#calndr{
  background-color:orange;
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  
}
#margn{
  margin-bottom: 0px;
  font-size: 20pt;
}
#destHead{
  font-size: 25pt;
  text-align:center;
  font-family:'Raleway';
  padding-bottom: 5px
  
}
#more{
 font-size: 15pt; 
}
#panelBody1{
  padding: 2px;
  margin-bottom: 0%;
  padding-right: 5px;
  background-image:url("/assets/img/peachy-bg.jpg");
  
  border-radius: 20px;
  border-style: hidden;
  
}
img{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
#borrr{
  border-radius: 20px;
  border-color: orange;
  border-width: 5px;
}
#divText{
  padding-top: 5px;
  text-align: center;
}
h3{
    color:rgb(0, 0, 0);
  }
//   img{
//     opacity: 0.5;
//   }
 