<div class="page-top clearfix" baScrollPosition maxHeight="50" (scrollChange)="scrolledChanged($event)"
     [ngClass]="{scrolled: isScrolled}">
  <a routerLink="/pages/home" class="al-logo clearfix"><span>Munnar</span>Tourism</a>
  <a href (click)="toggleMenu()" class="collapse-menu-link ion-navicon"></a>



  <div class="user-profile clearfix">
    <div class="dropdown al-user-profile">
      <a class="profile-toggle-link dropdown-toggle" id="user-profile-dd" data-toggle="dropdown" aria-expanded="false">
      <h1>  <i class="fa fa-phone-square "></i></h1>
      </a>
      <ul class="dropdown-menu top-dropdown-menu profile-dropdown" aria-labelledby="user-profile-dd">
        <li class="dropdown-item"><a href="whatsapp://send?&phone=+918940509447"><i class="fa fa-whatsapp"></i>Whatsup Us</a></li>
        <li class="dropdown-item"><a href="tel:9599916095"><i class="fa fa-mobile"></i>Call Us</a></li>
        <li class="dropdown-item"><a href ><i class="fa fa-envelope"></i>Mail Us</a></li>
      </ul>
    </div>
    
  </div>
</div>
