<div class="row">
       <div class="col-md-12">
            <div class="panel panel-transparent animated zoomIn" zoom-in="">
                <div class="panel-heading">
                    Here the some Ayurvedic Treatment 
                </div>
                <div class="panel-body">
                        <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#1">Abhyanga Snana</a></li>
                                <li><a data-toggle="tab" href="#2">Karnapoorana</a></li>
                                <li><a data-toggle="tab" href="#3">Netravasti</a></li>
                                <li><a data-toggle="tab" href="#4">Sarvangadhara</a></li>
                              </ul>
                            
                              <div class="tab-content">
                                    <div id="1" class="tab-pane fade in active">
                                            <div class="vid" style="text-align:center">
                                                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/YPEP3XDYrH0" allowfullscreen=""></iframe>
                                                </div><br><hr>
                                                <div>
                                                        Sarvangadhara, a treatment method with medicated milk is poured all over the body while 
                                                        massaging. This treatment is one of the preparatory procedures in Panchakarma, the 
                                                        rejuvenation and revitalization therapy in Ayurveda
                                                </div>
                                            </div>

                                            <div id="2" class="tab-pane fade in ">
                                                    <div class="vid" style="text-align:center">
                                                            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/WEoUwJzG3c0" allowfullscreen=""></iframe>
                                                        </div><br><hr>
                                                        <div>
                                                                Karnapoorana is a treatment in Ayurveda for ear care. Karnapoorana is
                                                                 a traditional treatment for ear ailments and the word literally means
                                                                  filling the ears. The ear lobes are gently massaged with oil and 
                                                                  usually lukewarm, purified medicated oil is gently poured into one ear.

                                                        </div>
                                                    </div> 
                                                    <div id="3" class="tab-pane fade in ">
                                                            <div class="vid" style="text-align:center">
                                                                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/71QhXarlR4k" allowfullscreen=""></iframe>
                                                                </div><br><hr>
                                                                <div>
                                                                        Netravasti or Akshitarpana is a traditional treatment for eyes in Ayurveda. 
                                                                        This treatment is effective for glaucoma, night blindness and other eye 
                                                                        related problems. Ayurveda, the ancient medical wisdom is one of the proud 
                                                                        contributions of India to the world.
                                                                </div>
                                                            </div>   
                                                            <div id="4" class="tab-pane fade in ">
                                                                    <div class="vid" style="text-align:center">
                                                                            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/7fhchjOq4JA" allowfullscreen=""></iframe>
                                                                        </div><br><hr>
                                                                        <div>
                                                                                Sarvangadhara, a treatment method with medicated milk is poured all over the body while 
                                                                                massaging. This treatment is one of the preparatory procedures in Panchakarma, the 
                                                                                rejuvenation and revitalization therapy in Ayurveda
                                                                        </div>
                                                                    </div>        
                              </div>

                </div>
                 
                </div>
            </div>
        </div>

