#mainDiv{
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 0%;
    padding-bottom: 0%;    
}
#secDiv{
    padding-left: 0%;
    padding-right: 0%   
     
}
#thrDiv{
    padding-left: 0%;
    padding-right: 0%;

     
}
