<div class="row">
    <div class="col-md-12" id="secDiv">
       <div class="panel panel-transparent animated zoomIn" zoom-in="">
          <div class="panel-heading">
             Here the some Yoga centres 
          </div>
          <div class="panel-body" id="mainDiv">
             <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#1">Thiruvananthapuram</a></li>
                <li><a data-toggle="tab" href="#2">Kannur</a></li>
                <li><a data-toggle="tab" href="#3">Palakkad</a></li>
                <li><a data-toggle="tab" href="#4">Thrissur</a></li>
             </ul>
             <div class="tab-content" id="thrDiv" >
                <div id="1" class="tab-pane fade in active">
                   <div class="vid" >
                      <p>Sivananda Yoga Vedantha Centre,<br>
                         Airport Road,<br>
                         Tel: +91 471 2450942,<br>
                         Sivananda Ashram,<br>
                         Neyyar Dam,<br>
                         Tel: +914712273093
                      </p>
                   </div>
                   <br>
                   
                </div>
                <div id="2" class="tab-pane fade in ">
                   <div class="vid" >
                      <p>Panchakarma School,<br>
                        1st floor Platinum Center Bank Road,<br>
                        Kannur,<br>
                        Kerala<br>
                         
                        </p>                                                 
                   </div>
                   <br>
                   
                </div>
                <div id="3" class="tab-pane fade in ">
                   <div class="vid" >
                      <p>Mystic Yoga,<br>
                         Opp Divisional Railway Office,<br>
                         Railway Colony,<br>
                         Palakkad,<br>
                         Tel:04923-223327  
                      </p>
                   </div>
                   <br>
                   
                </div>
                <div id="4" class="tab-pane fade in ">
                   <div class="vid">
                      <p>Arsha Yoga,<br>
                         Edasheri beach,<br>
                         Vatanapally,<br>
                         Thrissur DT,<br>
                         Tel:9446813057  
                      </p>
                   </div>
                   <br>
                   
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>