.panel-transparent {
    background: none;
}

.panel-transparent .panel-heading{
    background: rgba(122, 130, 136, 0.2)!important;
}

.panel-transparent .panel-body{
    background: rgba(46, 51, 56, 0.2)!important;
}

#imagePadding{
    padding-left: 0%;
    padding-top: 0%;
    padding-right: 0%;
}
#leftPad{
    padding-left: 0%;
    padding-right: 2%;
}
#buttonLeft{
    margin-right:5px;
    margin-left: 5px;

}