<div class="row">
            <!-- 1 out of 8 col 6 Opening -->
            <div class="col-md-6">
               <div class="panel  panel-transparent animated zoomIn" zomm-in="">
                  <div class="panel-body">
                     <img src="../../assets/MunnarT/Falls/adyanpara_waterfalls_malappuram/adyanpara_waterfalls_malappuram.jpg" style="width:100%" ><br><br>
                     Adyanpara Waterfalls are located in Nilambur in Malappuram district. It is among the most relaxing spots in the area.
                     This neat and well maintained waterfall is renowned for its lush greenery. It is an excellent spot for a nice swim and 
                     is easily accessible by road. The water itself is clean and pure and has had medicinal properties attributed to it. 
                     Located in Kurmbalangodu village, it is among the most picturesque destinations in the area.
                     <hr style="border-color:aqua">
                     <b>Getting there:</b><br><br>
                     Nearest railway station:: Nilambur, around 16 km away<br><br>
                     Nearest airport: Calicut International Airport, around 58 km.<br><br>
                     <!-- button section starting     -->
                     <div class="row">
                        <div style="margin-right:5px;margin-left:7px">
                           <button type="button" onclick="window.open('https://www.google.co.in/maps/place/Adyanpara+Water+Falls/@11.3544889,76.2010592,17z/data=!3m1!4b1!4m5!3m4!1s0x3ba63dbfc09a76a3:0x28445fc246fc356f!8m2!3d11.3544889!4d76.2032479?hl=en')" class="btn btn-success btn-lg"><i class="fa fa-location-arrow"></i> Get me there</button>
                        </div>
                        <div style="margin-left:7px">
                           <button type="button" onclick="window.open('https://en.wikipedia.org/wiki/Aruvikkuzhi_Waterfalls')"
                              class="btn btn-primary btn-lg"><i class="fa fa-wikipedia-w"></i> Wiki</button>
                        </div>
                     </div>
                     <!-- button section ending     --> 
                  </div>
               </div>
            </div>
            <!-- 1 out of 8 col 6 Closing -->
            <!-- 2  out of 8 col 6 Opening -->
            <div class="col-md-6">
               <div class="panel  panel-transparent animated zoomIn" zomm-in="">
                  <div class="panel-body">
                     <img src="../../assets/MunnarT/Falls/aruvikuzhy_waterfalls_pathanamthitta/aruvikuzhy_waterfalls_pathanamthitta (2).jpg" style="width:100%" ><br><br>
                     Aruvikuzhy waterfalls are among the best-hidden gems of Kerala and a beautiful picnic spot. It is an ideal location 
                     to spend time with loved ones while basking in the quaint charm of this small waterfall. It is considered a striking
                     background location for shooting movies as well.  The area is surrounded by gigantic trees and is a truly exotic
                     display of nature’s prowess. It offers great trekking trails and one gets to see many traditional rubber plantations as well in the area.
                     <hr style="border-color:aqua">
                     <b>Getting there:</b><br><br>
                     Nearest railway station: Thiruvalla, about 29 km<br><br>
                     Nearest airport: Trivandrum International Airport, about 131 km<br><br>
                     <!-- button section starting     -->
                     <div class="row" >
                        <div style="margin-right:5px;margin-left:7px">
                           <button type="button" onclick="window.open('https://www.google.co.in/maps/place/Aruvikuzhy+Waterfalls/@9.6031393,76.6649751,17z/data=!3m1!4b1!4m5!3m4!1s0x3b0632f3a04c6ec5:0xefbcc83169e56f58!8m2!3d9.6031393!4d76.6671638?hl=en')"
                              class="btn btn-success btn-lg"><i class="fa fa-location-arrow"></i> Get me there</button>
                        </div>
                        <div style="margin-left:7px">
                           <button type="button" onclick="window.open('https://en.wikipedia.org/wiki/Aruvikkuzhi_Waterfalls')"
                              class="btn btn-primary btn-lg"><i class="fa fa-wikipedia-w"></i> Wiki</button>
                        </div>
                     </div>
                     <!-- button section ending     -->  
                  </div>
               </div>
            </div>
            <!-- 2 out of 8 col 6 Closing -->
            <!-- 3 out of 8 col 6 Opening -->   
            <div class="col-md-6">
               <div class="panel  panel-transparent animated zoomIn" zomm-in="">
                  <div class="panel-body">
                     <img src="../../assets/MunnarT/Falls/athirappalli_and_vazhachal_waterfalls_thrissur/athirappalli_and_vazhachal_waterfalls_thrissur.jpg" style="width:100%" ><br><br>
                     As you walk down the stone slabs that lead to the base of the Athirappalli Waterfalls, a mysterious 
                     serenity overcomes you. It is Kerala's most famous and largest waterfall at over 80 ft high.
                     The sight of the water crashing onto the ground leaves you with a sense of wonder at the sheer
                     power and force of nature.  Its surrounding greenery is perfect for walks 
                     and picnics with loved ones. Lying at the entrance to the Sholayar ranges, it is a part of the Chalakudy
                     River which calls the Western Ghats its home.
                     <hr style="border-color:aqua">
                     <b>Getting there:</b><br><br>
                     Nearest railway station: Chalakudy, about 30 km away<br><br>
                     Nearest airport: Cochin International Airport, about 53 km <br><br>
                     <!-- button section starting     -->
                     <div class="row" >
                        <div style="margin-right:5px;margin-left:7px">
                           <button type="button" onclick="window.open('https://www.google.co.in/maps/place/Athirappilly+Water+Falls/@10.2849458,76.5672554,17z/data=!3m1!4b1!4m5!3m4!1s0x3b07f923c2abb0d1:0x1e7af75aa13af78!8m2!3d10.2851072!4d76.5697643?hl=en')"
                              class="btn btn-success btn-lg"><i class="fa fa-location-arrow"></i> Get me there</button>
                        </div>
                        <div style="margin-left:7px">
                           <button type="button" onclick="window.open('https://en.wikipedia.org/wiki/Athirappilly_Falls')"
                              class="btn btn-primary btn-lg"><i class="fa fa-wikipedia-w"></i> Wiki</button>
                        </div>
                     </div>
                     <!-- button section ending     -->  
                  </div>
               </div>
            </div>
            <!-- 3 out of 8 col 6 Closing -->    
            <!-- 4 out of 8 col 6 Opening -->    
            <div class="col-md-6">
               <div class="panel  panel-transparent animated zoomIn" zomm-in="">
                  <div class="panel-body">
                     <img src="../../assets/MunnarT/Falls/kanthanpara_waterfalls_wayanad/kanthanpara_waterfalls_wayanad.jpg" style="width:100%" ><br><br>
                     A beautiful waterfall situated about 22 km away from Kalpetta. Smaller than the Sentinel Rock waterfalls,
                     the Kanthanpara Falls and its surroundings make an ideal picnic spot in Wayanad.<br><br><br><br><br>
                     <hr style="border-color:aqua">
                     <b>Getting there:</b><br><br>
                     Nearest railway station:Kozhikode, about 73 km from Kalpetta<br><br>
                     Nearest airport: Nearest airport is Calicut International Airport, about 86 km<br><br>
                     <!-- button section starting     -->
                     <div class="row" >
                        <div style="margin-right:5px;margin-left:7px">
                           <button type="button" onclick="window.open('https://www.google.co.in/maps/place/Kanthanpara+Waterfalls/@11.5239348,76.1505009,17z/data=!3m1!4b1!4m5!3m4!1s0x3ba6727e18fa1623:0x5b1742bdde3e35ca!8m2!3d11.5239348!4d76.1526896?hl=en')"
                              class="btn btn-success btn-lg"><i class="fa fa-location-arrow"></i> Get me there</button>
                        </div>
                        <div style="margin-left:7px">
                           <button type="button" onclick="window.alert('Link Expired')"
                              class="btn btn-primary btn-lg"><i class="fa fa-wikipedia-w"></i> Wiki</button>
                        </div>
                     </div>
                     <!-- button section ending     --> 
                  </div>
               </div>
            </div>
            <!-- 4 out of 8 col 6 Closing -->
            <!-- 5 out of 8 col 6 Opening -->    
            <div class="col-md-6">
               <div class="panel  panel-transparent animated zoomIn" zomm-in="">
                  <div class="panel-body">
                     <img src="../../assets/MunnarT/Beach/kovalam/kovalam.jpg" style="width:100%" ><br><br>
                     Kovalam is an internationally renowned beach with three adjacent crescent beaches. 
                     It has been a favourite haunt of tourists since the 1930s. A massive rocky promontory on the
                     beach has created a beautiful bay of calm waters ideal for sea bathing.Thiruvananthapuram, the capital city of Kerala, is just 16 km away from Kovalam 
                     and getting there is no hassle. But if you are on holiday it is better to stay in Kovalam and visit the city.
                     <hr style="border-color:aqua">
                     <b>Getting there:</b><br><br>
                     Nearest railway station: Trivandrum Central, about 16 km  <br><br>
                     Nearest airport: Calicut Trivandrum International Airport, about 10 km<br><br>
                     <!-- button section starting     -->
                     <div class="row" >
                        <div style="margin-right:5px;margin-left:7px">
                           <button type="button" onclick="window.open('https://www.google.co.in/maps/place/Kovalam,+Kerala/@8.4005254,76.9623138,14z/data=!3m1!4b1!4m5!3m4!1s0x3b05a5090a19ec65:0xb67f315bc0b762ac!8m2!3d8.4003984!4d76.9787076?hl=en')"
                              class="btn btn-success btn-lg"><i class="fa fa-location-arrow"></i> Get me there</button>
                        </div>
                        <div style="margin-left:7px">
                           <button type="button" onclick="window.open('https://en.wikipedia.org/wiki/Kovalam')"
                              class="btn btn-primary btn-lg"><i class="fa fa-wikipedia-w"></i> Wiki</button>
                        </div>
                     </div>
                     <!-- button section ending     -->  
                  </div>
               </div>
            </div>
            <!-- 5 out of 8 col 6 Closing -->
            <!-- 6 out of 8 col 6 Opening -->    
            <div class="col-md-6">
               <div class="panel  panel-transparent animated zoomIn" zomm-in="">
                  <div class="panel-body">
                     <img src="../../assets/MunnarT/Beach/payyambalam_beach_kannur/payyambalam_beach_kannur.jpg" style="width:100%" ><br><br>
                     The Payyambalam Beach is a well maintained establishment in Kannur. This secluded location is known for providing one with the opportunity to 
                     simply relax or enjoy a family picnic at a quiet destination.
                     Surfing and swimming optionsare also available. The gentle waters form a tranquil setting that has been featured in many South Indian
                     movies as well. Being close to Kannur town has made it a 
                     favorite haunt for tourists and locals alike.
                     <hr style="border-color:aqua">
                     <b>Getting there:</b><br><br>
                     Nearest railway station: Kannur, about 2 km<br><br>
                     Nearest airport: Calicut International Airport, about 93 km to the South.<br><br>
                     <!-- button section starting     -->
                     <div class="row" >
                        <div style="margin-right:5px;margin-left:7px">
                           <button type="button" onclick="window.open('https://www.google.co.in/maps/place/Payyambalam+Beach/@11.869239,75.3502536,17z/data=!3m1!4b1!4m5!3m4!1s0x3ba43d529f5b7d81:0x8908247fd9238fd8!8m2!3d11.869239!4d75.3524423?hl=en')"
                              class="btn btn-success btn-lg"><i class="fa fa-location-arrow"></i> Get me there</button>
                        </div>
                        <div style="margin-left:7px">
                           <button type="button" onclick="window.open('https://en.wikipedia.org/wiki/Kannur_Beach')"
                              class="btn btn-primary btn-lg"><i class="fa fa-wikipedia-w"></i> Wiki</button>
                        </div>
                     </div>
                     <!-- button section ending     -->  
                  </div>
               </div>
            </div>
            <!-- 6 out of 8 col 6 Closing -->
            <!-- 7 out of 8 col 6 Opening -->    
            <div class="col-md-6">
               <div class="panel  panel-transparent animated zoomIn" zomm-in="">
                  <div class="panel-body">
                     <img src="../../assets/MunnarT/Beach/vadakara_sand_banks_beach_kozhikode/vadakara_sand_banks_beach_kozhikode.jpg" style="width:100%" ><br><br>
                     Vadakara Sand Banks is an attractive beach stretch that supplements the seaside beauty of Vadakara in the Kozhikode district,
                     situated in north Kerala. This beach where the Kottakkal River meets the Arabian Sea is a stunningly beautiful beach. It is a great spot to enjoy beautiful sunsets, 
                     frequented by locals as well as tourists.<br><br><br>
                     <hr style="border-color:aqua">
                     <b>Getting there:</b><br><br>
                     Nearest railway station: Vadakara, about 1 km away<br><br>
                     Nearest airport: Calicut International Airport, about 65 km away<br><br><br>
                     <br>
                     <!-- button section starting     -->
                     <div class="row" >
                        <div style="margin-right:5px;margin-left:7px">
                           <button type="button" onclick="window.open('https://www.google.co.in/maps/place/Sand+Banks/@11.5839483,75.5664912,14z/data=!4m8!1m2!2m1!1sVadakara+beach!3m4!1s0x0:0xe25bd07bb229ad69!8m2!3d11.5693706!4d75.5886143?hl=en')"
                              class="btn btn-success btn-lg"><i class="fa fa-location-arrow"></i> Get me there</button>
                        </div>
                        <div style="margin-left:7px">
                           <button type="button" onclick="window.open('https://en.wikipedia.org/wiki/Vatakara')"
                              class="btn btn-primary btn-lg"><i class="fa fa-wikipedia-w"></i> Wiki</button>
                        </div>
                     </div>
                     <!-- button section ending     -->  
                  </div>
               </div>
            </div>
            <!-- 7 out of 8 col 6 Closing -->
            <!-- 8 out of 8 col 6 Opening -->    
            <div class="col-md-6">
               <div class="panel  panel-transparent animated zoomIn" zomm-in="">
                  <div class="panel-body">
                     <img src="../../assets/MunnarT/Beach/varkala_beach/varkala_beach.jpg" style="width:100%" ><br><br>
                     Varkala, a calm and quiet hamlet, lies on the outskirts of Thiruvananthapuram district. It has several tourist attractions that include a beautiful beach, a 2000-year-old Vishnu Temple and the Ashramam - Sivagiri Mutt a little distance from the beach.
                     The Papanasam Beach (also called as Varkala Beach), which is ten kilometers away from Varkala, is renowned for a natural spring. <br><br><br>
                     <hr style="border-color:aqua">
                     <b>Getting there:</b><br><br>
                     Nearest railway station: Varkala, about 3 km away  <br><br>
                     Nearest airport: Trivandrum International Airport, about 57 km away<br><br><br><br>
                     <!-- button section starting     -->
                     <div class="row" >
                        <div style="margin-right:5px;margin-left:7px">
                           <button type="button" onclick="window.open('https://www.google.co.in/maps/place/Papanasam+Beach/@8.7327015,76.703868,17z/data=!3m1!4b1!4m5!3m4!1s0x3b05ef1c47000001:0x28d32906ae208476!8m2!3d8.7327015!4d76.7060567?hl=en')"
                              class="btn btn-success btn-lg"><i class="fa fa-location-arrow"></i> Get me there</button>
                        </div>
                        <div style="margin-left:7px">
                           <button type="button" onclick="window.open('https://en.wikipedia.org/wiki/Varkala_Beach')"
                              class="btn btn-primary btn-lg"><i class="fa fa-wikipedia-w"></i> Wiki</button>
                        </div>
                     </div>
                     <!-- button section ending     -->  
                  </div>
               </div>
            </div>
         </div>
         <!-- 8 out of 8 col 6 Closing -->