<!-- <div class="row">
    <div class="col-md-12" id="scndDiv">
        <div class="panel  panel-transparent animated zoomIn" zoom-in="" >
        <div class="panel-heading" >Online Enquiry</div>
        <div class="panel-body" id="scndDiv" >
          
            <table class="table table-hover" style="width:100%" >
                <thead >
                  <tr style="background-color:rgb(82, 189, 153)" >
                    <th>Name</th>
                    <th>Mobile</th>
                    <th>Email</th>
                    <th>Place</th>
                    <th>Query</th>
                    <th id="firDiv">Actions</th>
                    
                    </tr>
                </thead>
                <tbody *ngFor ="let post of posts | async">
                  <tr (click)="getPost(post.id)">
                    <td >{{ post.data.fname }}  {{ post.data.lname }}</td>
                    
                    <td><input style=" background:transparent;border:none" type="text" [(ngModel)]="post.data.mobile"></td>
                    
                    <td>{{post.data.email}}</td>
                    <td>{{post.data.place}}</td>
                    <td>{{post.data.content}}</td>
                    <td><input type="button" class="btn btn-default" (click)="deletePost(post.id)" value="Delete">
                      </td>
                  </tr>
                  
                </tbody>
              </table>
        </div>
        </div>
        </div>
</div> -->
<table>
    
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Mobile</th>
        <th scope="col">Email</th>
        <th scope="col">Place</th>
        <th scope="col">Query</th>
        <th scope="col">Actions</th>
        
        
      </tr>
    </thead>
    <tbody *ngFor ="let post of posts | async">
        <tr>
        <td data-label="Name">{{ post.data.fname }}  {{ post.data.lname }}</td>
        <td data-label="Mobile">{{post.data.mobile}}</td>
        <td data-label="Email">{{post.data.email}}</td>
        <td data-label="Place">{{post.data.place}}</td>
        <td data-label="Query">{{post.data.content}}</td>
        <td data-label="Action"><input type="button" class="btn btn-default" (click)="deletePost(post.id)" value="Delete"></td>
        
      </tr>
     
    </tbody>
  </table>
    