<div class="row">
    <div class="col-md-12">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="hovereffect">
                <img class="img-responsive" src="../assets/pup.jpg" alt="">
                    <div class="overlay">
                       
                     
                        <p class="icon-links" style="text-align:end">
                                John Doe<br>
                            <a href="#">
                                <span class="fa fa-twitter-square fa-3x" style="color:rgb(26, 220, 226)"></span>
                            </a>
                            <a href="#">
                                <span class="fa fa-facebook-official fa-3x" style="color:white"></span>
                            </a>
                            <a href="#">
                                <span class="fa fa-linkedin-square fa-3x"></span>
                            </a>
                        </p>
                      </div>
                    </div>
            </div>
        </div>
     
          