<div class="row">
        <!-- <div class="col-md-12">
           <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
               <div class="hovereffect">
                   <img class="img-responsive" src="../assets/pup.jpg" alt="">
                       <div class="overlay">
                          
                        
                           <p class="icon-links" style="text-align:end">
                                   John Doe<br>
                               <a href="#">
                                   <span class="fa fa-twitter-square fa-3x" style="color:rgb(26, 220, 226)"></span>
                               </a>
                               <a href="#">
                                   <span class="fa fa-facebook-official fa-3x" style="color:white"></span>
                               </a>
                               <a href="#">
                                   <span class="fa fa-linkedin-square fa-3x"></span>
                               </a>
                           </p>
                         </div>
                       </div>
               </div>
           </div> -->
        <div class="col-md-12">
            <h1 style="text-align:center">Our Team</h1><hr>
           <div class="xs-4 col-md-4">
              <div class="hovereffect" style="margin-bottom: 20px;">
                 <img class="img-responsive" src="../assets/MunnarT/about/seeni.jpeg" alt="">
                 <div  class="carousel-caption" id="color">
                        <h3>Sreenivasan</h3><br><h3>Founder/Admin</h3><br>
                 </div>
                 <div class="overlay">
                    <p class="icon-links" style="text-align:end">
                       <br>
                       <br>
                       <a href="#">
                       <span class="fa fa-twitter-square fa-3x" style="color:rgb(26, 220, 226)"></span>
                       </a>
                       <a href="#">
                       <span class="fa fa-facebook-official fa-3x" style="color:white"></span>
                       </a>
                       <a href="#">
                       <span class="fa fa-linkedin-square fa-3x"></span>
                       </a>
                    </p>
                 </div>
              </div>
           </div>
           <div class="xs-4 col-md-4">
              <div class="hovereffect" style="margin-bottom: 20px;">
                 <img class="img-responsive" src="../assets/pup.jpg" alt="">
                 <div  class="carousel-caption" id="color" >
                        <h3>Mugesh</h3><br><h3>Co-Founder/Operations</h3><br>
                 </div>
                 <div class="overlay">
                    <p class="icon-links" style="text-align:end">
                      
                       <br>
                       <a href="#">
                       <span class="fa fa-twitter-square fa-3x" style="color:rgb(26, 220, 226)"></span>
                       </a>
                       <a href="#">
                       <span class="fa fa-facebook-official fa-3x" style="color:white"></span>
                       </a>
                       <a href="#">
                       <span class="fa fa-linkedin-square fa-3x"></span>
                       </a>
                    </p>
                 </div>
              </div>
           </div>
           <div class="xs-4 col-md-4">
              <div class="hovereffect" style="margin-bottom: 20px;">
                 <img class="img-responsive" src="../assets/pup.jpg" alt="">
                 <div  class="carousel-caption" id="color" >
                        <h3>Ramesh</h3><br><h3>Co-Founder/Marketing</h3><br>
                 </div>
                 <div class="overlay">
                    <p class="icon-links" style="text-align:end">
                    
                       <a href="#">
                       <span class="fa fa-twitter-square fa-3x" style="color:rgb(26, 220, 226)"></span>
                       </a>
                       <a href="#">
                       <span class="fa fa-facebook-official fa-3x" style="color:white"></span>
                       </a>
                       <a href="#">
                       <span class="fa fa-linkedin-square fa-3x"></span>
                       </a>
                    </p>
                 </div>
              </div>
           </div>
           <div class="xs-4 col-md-4">
              <div class="hovereffect" style="margin-bottom: 20px;">
                 <img class="img-responsive" src="../assets/pup.jpg" alt="">
                 <div  class="carousel-caption" id="color">
                        <h3>Nikkash</h3><br><h3>Co-Founder/Marketing</h3><br>
                 </div>
                 <div class="overlay">
                    <p class="icon-links" style="text-align:end;font-size:15pt">
                     
                       <a href="#">
                       <span class="fa fa-twitter-square fa-3x" style="color:rgb(26, 220, 226)"></span>
                       </a>
                       <a href="#">
                       <span class="fa fa-facebook-official fa-3x" style="color:white"></span>
                       </a>
                       <a href="#">
                       <span class="fa fa-linkedin-square fa-3x"></span>
                       </a>
                    </p>
                 </div>
              </div>
           </div>
           <div class="xs-4 col-md-4" >
                <div class="hovereffect" style="margin-bottom: 20px;">
                   <img class="img-responsive" src="../assets/MunnarT/about/palavesam.jpg"  alt="">
                   <div  class="carousel-caption" id="color">
                          <h3>Palavesam</h3><br><h3>Designer and Developer</h3><br>
                   </div>
                   <div class="overlay">
                      <p class="icon-links" style="text-align:end;">
                       
                         <a href="#">
                         <span class="fa fa-twitter-square fa-3x" style="color:rgb(26, 220, 226)"></span>
                         </a>
                         <a href="#">
                         <span class="fa fa-facebook-official fa-3x" style="color:white"></span>
                         </a>
                         <a href="#">
                         <span class="fa fa-linkedin-square fa-3x"></span>
                         </a>
                      </p>
                   </div>
                </div>
             </div>
        </div>
     </div>