
<h2 id="titlehead"> "Meet The Team" </h2>

<hr>
<br>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="../assets/pup.jpg" alt="Jane" style="width:100%">
      <div class="container">
        <h2>Sreenivasan</h2>
        <p class="title">Admin & Founder</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>example@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="../assets/pup.jpg" alt="Mike" style="width:100%">
      <div class="container">
        <h2>Mugesh</h2>
        <p class="title">Co-Founder/Operations</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>example@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="../assets/pup.jpg" alt="John" style="width:100%">
      <div class="container">
        <h2>Ramesh</h2>
        <p class="title">Co-Founder/Marketing</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>example@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
  <div class="column">
        <div class="card">
          <img src="../assets/pup.jpg" alt="John" style="width:100%">
          <div class="container">
            <h2>Nikkash</h2>
            <p class="title">Co-Founder/Marketing</p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <p>example@example.com</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>
      <div class="column">
            <div class="card">
              <img src="../assets/pup.jpg" alt="John" style="width:100%">
              <div class="container">
                <h2>Palavesam</h2>
                <p class="title">Designer and Developer</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>example@example.com</p>
                <p><button class="button">Contact</button></p>
              </div>
            </div>
          </div>
</div>
